/* Global */
* {
	margin          : 0;
	padding         : 0;
	list-style      : none;
	text-decoration : none;
	font-family     : "Ubuntu", sans-serif;
}

ul, ol {
	padding : 0;
}

a:visited, a:link, a:focus, a:hover, a:active {
	list-style      : none;
	text-decoration : none;
}

.barraSuperior {
	background : #000000;
}

.barraSuperior a {
	color : #FFFFFF;
}

.backColor, .backColor a {
	background : #47BAC1;
	color      : #FFFFFF;
}

/* Redes Sociales */

.redSocial {
	width       : 30px;
	height      : 30px;
	text-align  : center;
	line-height : 30px;
}

/* Facebook */
.facebookBlanco {
	color : #FFFFFF;
}

.facebookNegro {
	color : #000000;
}

.facebookColor {
	color      : #FFFFFF;
	background : #46639F;
}

/* YouTube */
.youtubeBlanco {
	color : #FFFFFF;
}

.youtubeNegro {
	color : #000000;
}

.youtubeColor {
	color      : #FFFFFF;
	background : #D6513E;
}

/* Twitter */
.twitterBlanco {
	color : #FFFFFF;
}

.twitterNegro {
	color : #000000;
}

.twitterColor {
	color      : #FFFFFF;
	background : #0AB2E6;
}

/* Google */
.googleBlanco {
	color : #FFFFFF;
}

.googleNegro {
	color : #000000;
}

.googleColor {
	color      : #FFFFFF;
	background : #D71617;
}

/* Instagram */
.instagramBlanco {
	color : #FFFFFF;
}

.instagramNegro {
	color : #000000;
}

.instagramColor {
	color      : #FFFFFF;
	background : linear-gradient(45deg, #FCA925, #EE1D5F, #6350A2);
}

/*
	Error 404
*/

.error404 {
	color : #333333;
}

/*Scroll Up*/
#scrollUp {
	bottom     : 20px;
	right      : 20px;
	width      : 50px;
	height     : 50px;
	background : url("../img/plantilla/flecha.jpg");
}

/*
	Escritorio grande - LG - 1366
*/

@media (min-width : 1200px) {
	.col-lg-0 {
		display : none;
	}

	.error404 h1 {
		font-size   : 300px;
		text-shadow : 8px 8px 1px #DADADA;
	}
}

/*
	Escritorio mediano o tablet horizontal - MD - 1024
*/

@media (max-width : 1199px) and (min-width : 992px) {
	.col-md-0 {
		display : none;
	}

	.error404 h1 {
		font-size   : 200px;
		text-shadow : 6px 6px 1px #DADADA;
	}
}

/*
	Escritorio pequeño o tablet vertical - SM - 768
*/

@media (max-width : 991px) and (min-width : 768px) {
	.col-sm-0 {
		display : none;
	}

	.error404 h1 {
		font-size   : 150px;
		text-shadow : 4px 4px 1px #DADADA;
	}
}

/*
	Móvil - XS - 320
*/

@media (max-width : 767px) {
	.col-xs-0 {
		display : none;
	}

	.error404 h1 {
		font-size   : 75px;
		text-shadow : 2px 2px 1px #DADADA;
	}
}